<!DOCTYPE html>
<html lang="en">
    <head>
      <title>新建财报</title>
      <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
      <link rel='stylesheet' href='/stylesheets/style.css'/>

      <script src="/javascripts/jquery.js"></script>
      <script src="/javascripts/bootstrap.js"></script>

    </head>

    <header>
      <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand">
                <span>&nbsp杰世欣Online&nbsp</span>
                <img src="/logo.png" class="pull-left" alt="logo" width="40" height="45" style="margin-top: -12px;">
            </a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="/treasurer">新建财报</a></li>
              <li><a href="/treasurer">毛利统计</a></li>
              <li><a href="/treasurer">行政管理费用统计</a></li>
              <li><a href="/treasurer">总经办支出</a></li>
              <li><a href="/treasurer">合计</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <body>
      <div class="container-fluid">
        
      </div>
    </body>
</html>
